<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SSE</title>
      <script src="{{url_for('static', filename='app.js')}}"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
   </head>
   <body>
      <h1>SSE</h1>
      <div id="messageWindow"></div>
      <div id="input">
        <input id="messageInput"></input><button onClick="onSend()">SEND</button>
      </div>
   </body>
</html>